{% extends 'base.html' %}

{% block title %}
  Contratos
{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item h2" aria-current="page">
      <a class="text-decoration-none" href="{% url 'contracts:list' %}">Contratos</a>
    </li>
    <li class="breadcrumb-item h2 active" aria-current="page">Crear</li>
  </ol>
  <form method="POST" class="row g-2">
    {% csrf_token %}
    <div class="col-md-4 col-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="id" name="id" required />
        <label for="id">ID</label>
      </div>
    </div>
    <div class="col-md-4 col-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="contractor" name="contractor" required />
        <label for="contractor">Contratista</label>
      </div>
    </div>
    <div class="col-md-4 col-6">
      <div class="form-floating">
        <input type="date" class="form-control" id="date" name="date" required />
        <label for="date">Fecha de Suscripción</label>
      </div>
    </div>
    <div class="col-md-4 col-6">
      <div class="form-floating">
        <input type="number" class="form-control" id="duration" name="duration" min="0" required />
        <label for="duration">Plazo de Ejecución</label>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="form-floating">
        <select class="form-select" id="procedure" name="certification">
          <option selected disabled>---</option>
          {% for certification in certifications %}
            <option value="{{ certification.number }}">Cert. #{{ certification.number }} - {{ certification.budget_item }} - USD {{ certification.budget }}</option>
          {% endfor %}
        </select>
        <label for="certification">Certificación</label>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="form-floating">
        <select class="form-select" id="admin" name="admin">
          <option selected disabled>---</option>
          {% for employee in employees %}
            <option value="{{ employee.id }}">{{ employee.name }} {{ employee.surname }}</option>
          {% endfor %}
        </select>
        <label for="admin">Administrador</label>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="{% url 'contracts:list' %}" class="btn m-1 btn-outline-danger">Cancelar</a>
      <button type="submit" class="btn m-1 btn-outline-success">Guardar</button>
    </div>
  </form>
{% endblock %}
