{% extends 'base.html' %}

{% block title %}
  Contratos
{% endblock %}

{% block body %}
  <table class="table border">
    <thead class="table-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item h2" aria-current="page">
          <a class="text-decoration-none" href="{% url 'contracts:list' %}">Contratos</a>
        </li>
        <li class="breadcrumb-item h2 active" aria-current="page">{{ object.id }}</li>
      </ol>
    </thead>
    <tbody>
      <tr>
        <td style="width: 10%">
          <b>Administrador de Contrato</b>
        </td>
        <td>{{ object.admin.name }} {{ object.admin.surname }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Contratista</b>
        </td>
        <td>{{ object.contractor }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Certificación</b>
        </td>
        <td>
          <div class="list-group">
            <a href="{% url 'certifications:detail' object.certification.pk %}" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Certificación No. {{ object.certification.number }}</h5>
                <small>{{ object.certification.date }}</small>
              </div>
              <p class="mb-1">{{ object.certification.description }}</p>
              <small>USD {{ object.certification.budget }}</small>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Fecha de Suscripción</b>
        </td>
        <td>{{ object.date }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Plazo de Ejecución</b>
        </td>
        <td>{{ object.duration }}d</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <a href="{% url 'contracts:list' %}" class="btn btn-outline-secondary">Volver</a>
    <a href="{% url 'contracts:update' object.pk %}" class="btn btn-outline-primary">Editar</a>
    <a href="{% url 'contracts:delete' object.pk %}" class="btn btn-outline-danger">Eliminar</a>
  </div>
{% endblock %}
