{% extends 'base.html' %}

{% block title %}
  Departments - Detail
{% endblock %}

{% block body %}
  <table class="table border">
    <thead class="table-light">
      <h1>Department - {{ object.name }}</h1>
    </thead>
    <tbody>
      <tr>
        <td style="width: 10%">
          <b>Director</b>
        </td>
        <td>{{ object.director }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Certifications</b>
        </td>
        <td>
          <div class="list-group">
            {% for certification in object.certifications_set.all %}
              <a href="{% url 'certifications:detail' certification.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Certification No. {{ certification.number }}</h5>
                  <small>{{ certification.date }}</small>
                </div>
                <p class="mb-1">{{ certification.description }}</p>
                <small>USD {{ certification.budget }}</small>
              </a>
            {% endfor %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'departments:list' %}" class="btn btn-outline-primary">Back</a>
  <a href="{% url 'departments:update' object.pk %}" class="btn btn-outline-success">Update</a>
  <a href="{% url 'departments:delete' object.pk %}" class="btn btn-outline-danger">Delete</a>
{% endblock %}
