{% extends 'base.html' %}

{% block title %}
  Departments - List
{% endblock %}

{% block form %}
  <form action="{% url 'certifications:list' %}" class="d-flex" role="search">
    <input name="q" class="form-control me-2" type="search" placeholder="Search Department" aria-label="Search Department" />
    <button class="btn btn-secondary" type="submit">Search</button>
  </form>
{% endblock %}

{% block body %}
  {% if object_list %}
    {% csrf_token %}
    <h1>Departments</h1>
    {% if message %}
      <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}
    <div class="table-responsive-xxl border">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Director</th>
            <th>No. Certifications</th>
            <th>‎</th>
            <th>‎</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.name }}</td>
              <td>{{ object.director }}</td>
              <td>{{ object.certifications_set.count }}</td>
              <td>
                <a href="{% url 'departments:detail' object.pk %}"><button class="btn btn-outline-success w-100">View</button></a>
              </td>
              <td>
                <a href="{% url 'departments:delete' object.pk %}"><button class="btn btn-outline-danger w-100">Delete</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3" class="text-end"></th>
            <th colspan="2">
              <a href="{% url 'departments:create' %}"><button class="btn btn-outline-primary w-100">Create</button></a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">Record not found</div>
    <a href="{% url 'departments:list' %}" class="btn btn-outline-primary">Refresh</a>
    <a href="{% url 'departments:create' %}" class="btn btn-outline-success">Create</a>
  {% endif %}
{% endblock %}
