{% extends 'base.html' %}

{% block title %}
  Departments - Update
{% endblock %}

{% block body %}
  <h1>Update Department - {{ department.name }}</h1>
  <form method="POST" class="row g-2">
    {% csrf_token %}
    <div class="col-md col-12">
      <div class="form-floating">
        <input type="text" class="form-control" id="name" name="name" value="{{ department.name }}" required />
        <label for="name">Name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <select class="form-select" id="director" name="director" required>
          {% for employee in employees %}
            <option value="{{ employee.ci }}" {% if value == department.director.ci %} selected {% endif %}>{{ employee.name }} {{ employee.surname }}</option>
          {% endfor %}
        </select>
        <label for="director">Director</label>
      </div>
    </div>
    <div class="mt-3">
      <a type="button" href="{% url 'departments:list' %}" class="btn btn-outline-secondary">Back</a>
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </form>
{% endblock %}
