{% extends 'base.html' %}

{% block title %}
  Partidas Presupuestarias
{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item h2" aria-current="page">
      <a class="text-decoration-none" href="{% url 'budget_items:list' %}">Partidas Presupuestarias</a>
    </li>
    <li class="breadcrumb-item h2" aria-current="page">
      <a class="text-decoration-none" href="{% url 'budget_items:detail' budget_item.pk %}">{{ budget_item.number }}</a>
    </li>
    <li class="breadcrumb-item h2 active" aria-current="page">Editar</li>
  </ol>
  <form method="POST" class="row g-2">
    {% csrf_token %}
    <div class="col-md-3 col-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="number" name="number" value="{{budget_item.number}}" required />
        <label for="number">Número</label>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="cpc" name="cpc" value="{{budget_item.cpc}}" required />
        <label for="cpc">CPC</label>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="form-floating">
        <input type="number" class="form-control" id="budget" name="budget" min="0.01" value="{{budget_item.budget}}" required />
        <label for="budget">Presupuesto (USD)</label>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="form-floating">
        <select class="form-control" id="budget_type" name="budget_type">
          <option value="Current Expense" {% if value == budget_item.budget_type %} selected {% endif %}>Gasto Corriente</option>
          <option value="Investment Project" {% if value == budget_item.budget_type %} selected {% endif %}>Proyecto de Inversión</option>
        </select>
        <label for="budget_type">Tipo de Presupuesto</label>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="form-floating">
        <textarea class="form-control" style="min-height: 100px" id="description" name="description" rows="3" required>{{budget_item.description}}</textarea>
        <label for="description">Descripción</label>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="form-floating">
        <textarea class="form-control" style="min-height: 100px" id="activity" name="activity" rows="3" required>{{budget_item.activity}}</textarea>
        <label for="activity">Actividad</label>
      </div>
    </div>
    <div class="form-group">
      <label for="bid">BID</label>
      <input type="checkbox" id="bid" name="bid" {% if budget_item.bid %} checked {% endif %} />
    </div>
    <div class="d-flex justify-content-center">
      <a href="{% url 'budget_items:list' %}" class="m-1 btn btn-outline-danger">Cancelar</a>
      <button type="submit" class="m-1 btn btn-outline-success">Actualizar</button>
    </div>
  </form>
{% endblock %}
