{% extends 'budget_items_base.html' %}

{% block title %}
  Budget Items - Update
{% endblock %}

{% block body %}
  <h1>Update Budget Item - {{ budget_item.number }}</h1>
  <form method="POST" class="row">
    {% csrf_token %}
    <div class="col-3">
      <label class="m-1 mt-3" for="number">Number:</label>
      <input type="text" class="form-control" id="number" name="number" placeholder="Enter budget item number" value="{{ budget_item.number }}" />
    </div>
    <div class="col-3">
      <label class="m-1 mt-3" for="cpc">CPC:</label>
      <input type="text" class="form-control" id="cpc" name="cpc" placeholder="Enter CPC" value="{{ budget_item.cpc }}" />
    </div>
    <div class="col-3">
      <label class="m-1 mt-3" for="budget">Budget (USD):</label>
      <input type="number" class="form-control" id="budget" name="budget" step="0.01" placeholder="Enter budget amount" value="{{ budget_item.budget }}" />
    </div>
    <div class="col-3">
      <label class="m-1 mt-3" for="budget_type">Budget Type:</label>
      <select class="form-control" id="budget_type" name="budget_type">        
        <option value="Current Expense">Current Expense</option>
        <option value="Investment Project">Investment Project</option>   
      </select>
    </div>
    <div class="col-6">
      <label class="m-1 mt-3" for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Describe the budget item">{{ budget_item.description }}</textarea>
    </div>
    <div class="col-6">
      <label class="m-1 mt-3" for="activity">Activity:</label>
      <textarea class="form-control" id="activity" name="activity" rows="3" placeholder="Describe the related activity">{{ budget_item.activity }}</textarea>
    </div>
    <div class="form-group mb-3">
      <label for="bid">BID</label>
      <input type="checkbox" id="bid" name="bid" {% if budget_item.bid %} checked {% endif %}/>
    </div>
    <div>
      <a href="{% url 'budget_items:list' %}" class="btn btn-outline-secondary">Back</a>
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </form>
{% endblock %}
