{% extends 'certifications_base.html' %}

{% block title %}
  Certifications - List
{% endblock %}

{% block body %}
  {% if object_list %}
    {% csrf_token %}
    <h1>Certifications</h1>
    <form method = "GET">
      <input type = "text" name = "q" placeholder = "Search by number or budget item">
      <button type = "submit">Search</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Budget Item</th>
          <th>Description</th>
          <th>Budget</th>
          <th>‎</th>
          <th>‎</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.number }}</td>
            <td>
                <a href = "{% url 'budget_items:detail' object.budget_item.pk %}">{{ object.budget_item }}</a>
            </td>
            <td>{{ object.description }}</td>
            <td>{{ object.budget }}</td>
            <td>
              <a href="{% url 'certifications:detail' object.pk %}"><button>View</button></a>
            </td>
            <td>
              <a href="{% url 'certifications:delete' object.pk %}"><button>Delete</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no registered certifications</p>
  {% endif %}
  <a href="{% url 'certifications:create' %}"><button>Create</button></a>
{% endblock %}
