{% extends 'certifications_base.html' %}

{% block title %}
  Certifications - Detail
{% endblock %}

{% block body %}
  <table>
    <thead>
      <tr>
        <h1>Certification No. {{ object.number }} - {{ object.department }}</h1>
        <p>Last modification: {{ object.date }}</p>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>Budget Items</b>
        </td>
        <td>
          {% for budget_item in object.budget_item.all %}
            <a href = "{% url 'budget_items:detail' budget_item.pk %}">{{ budget_item }}</a>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          <b>CPC</b>
        </td>
        <td>
          {% for budget_item in object.budget_item.all %}
            {{ budget_item.cpc }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          <b>Purchase Type</b>
        </td>
        <td>{{ object.procedure.purchase_type }}</td>
      </tr>
      <tr>
        <td>
          <b>Regime</b>
        </td>
        <td>{{ object.procedure.regime }}</td>
      </tr>
      <tr>
        <td>
          <b>BID</b>
        </td>
        <td>
          {% for budget_item in object.budget_item.all %}
            {{ budget_item.bid }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          <b>Budget Type</b>
        </td>
        <td>
          {% for budget_item in object.budget_item.all %}
            {{ budget_item.budget_type }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          <b>Product Type</b>
        </td>
        <td>{{ object.procedure.product_type }}</td>
      </tr>
      <tr>
        <td>
          <b>Procedure</b>
        </td>
        <td>{{ object.procedure }}</td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>{{ object.description }}</td>
      </tr>
      <tr>
        <td>
          <b>Budget</b>
        </td>
        <td>{{ object.budget }}</td>
      </tr>
      <tr>
        <td>
          <b>Period</b>
        </td>
        <td>C{{ object.period }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'certifications:list' %}"><button>Back</button></a>
  <a href="{% url 'certifications:update' object.pk %}"><button>Update</button></a>
  <a href="{% url 'certifications:delete' object.pk %}"><button>Delete</button></a>
{% endblock %}
