{% extends 'base.html' %}

{% block title %}
  Departamentos
{% endblock %}

{% block body %}
  <table class="table border">
    <thead class="table-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item h2" aria-current="page">
          <a class="text-decoration-none" href="{% url 'department:list' %}">Departamentos</a>
        </li>
        <li class="breadcrumb-item h2 active" aria-current="page">{{ department.name }}</li>
      </ol>
    </thead>
    <tbody>
      <tr>
        <td style="width: 10%">
          <b>Director</b>
        </td>
        <td>{{ department.director.first_name }} {{ department.director.middle_name }} {{ department.director.first_last_name }} {{ department.director.middle_last_name }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Certificaciones</b>
        </td>
        <td>
          <div class="list-group">
            {% if department.certification_set.all %}
              {% for certification in department.certification_set.all %}
                <a href="{% url 'certification:detail' certification.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ certification.number }}</h5>
                    <small>{{ certification.create_at }}</small>
                  </div>
                  <p class="mb-1">{{ certification.description }}</p>
                  <small>USD {{ certification.budget }}</small>
                </a>
              {% endfor %}
            {% else %}
              -
            {% endif %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <a href="{% url 'department:list' %}" class="btn m-1 btn-outline-secondary">Volver</a>
    <a href="{% url 'department:update' department.pk %}" class="btn m-1 btn-outline-primary">Editar</a>
    <a href="{% url 'department:delete' department.pk %}" class="btn m-1 btn-outline-danger">Eliminar</a>
  </div>
{% endblock %}
