{% extends 'base.html' %}

{% block title %}
  Empleados
{% endblock %}

{% block form %}
  <form action="{% url 'employees:list' %}" class="d-inline-flex w-100" role="search">
    <input name="q" class="form-control me-2" type="search" placeholder="Buscar Empleado" />
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
  </form>
{% endblock %}

{% block body %}
  {% if object_list %}
    {% csrf_token %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item h2" aria-current="page">Empleados</li>
    </ol>
    <div class="table-responsive-xxl border">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>CI</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Contratos</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.ci }}</td>
              <td>{{ object.name }} {{ object.surname }}</td>
              <td>{{ object.email }}</td>
              <td>{{ object.contracts_set.count }}</td>
              <td>
                <a href="{% url 'employees:detail' object.pk %}" class="btn btn-outline-success w-100">Ver</a>
              </td>
              <td>
                <a href="{% url 'employees:delete' object.pk %}" class="btn btn-outline-danger w-100">Eliminar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4" class="text-end"></th>
            <th colspan="2">
              <a href="{% url 'employees:create' %}" class="btn btn-outline-primary w-100">Crear</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    {% if is_paginated %}
      <div class="pagination d-flex justify-content-center m-4">
        <span class="step-links m-4">
          {% if page_obj.has_previous %}
            <a class="m-1" href="?page=1">&laquo; first</a>
            <a class="m-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current m-3">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

          {% if page_obj.has_next %}
            <a class="m-1" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="m-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% else %}
    <div class="alert alert-warning mt-3" role="alert">
      No se han registrado empleados todavía, intente creando <a href="{% url 'employees:create' %}">aquí</a>
    </div>
  {% endif %}
{% endblock %}
