{% extends 'base.html' %}

{% block title %}
  Empleados
{% endblock %}

{% block body %}
  <h1>{{ employee.name }} {{ employee.surname }}</h1>
  <form method="POST" class="row g-2">
    {% csrf_token %}
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="ci" name="ci" value="{{ employee.ci }}" required />
        <label for="ci">CI</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="name" name="name" value="{{ employee.name }}" required />
        <label for="name">Nombres</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="surname" name="surname" value="{{ employee.surname }}" required />
        <label for="surname">Apellidos</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" value="{{ employee.email }}" required />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="user" name="user" value="{{ employee.user }}" required />
        <label for="user">Usuario</label>
      </div>
    </div>
    <div class="mt-3">
      <a type="button" href="{% url 'employees:list' %}" class="btn btn-outline-secondary">Cancelar</a>
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
    </div>
  </form>
{% endblock %}
