{% extends 'base.html' %}

{% block title %}
  Empleados
{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item h2" aria-current="page">
      <a class="text-decoration-none" href="{% url 'employees:list' %}">Empleados</a>
    </li>
    <li class="breadcrumb-item h2" aria-current="page">
      <a class="text-decoration-none" href="{% url 'employees:detail' employee.pk %}">{{ employee.name }} {{ employee.surname }}</a>
    </li>
    <li class="breadcrumb-item h2 active" aria-current="page">Editar</li>
  </ol>
  <form method="POST" class="row g-2">
    {% csrf_token %}
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="ci" name="ci" value="{{ employee.ci }}" required />
        <label for="ci">CI</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="name" name="name" value="{{ employee.name }}" required />
        <label for="name">Nombres</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="surname" name="surname" value="{{ employee.surname }}" required />
        <label for="surname">Apellidos</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" value="{{ employee.email }}" required />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="user" name="user" value="{{ employee.user }}" required />
        <label for="user">Usuario</label>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a type="button" href="{% url 'employees:list' %}" class="btn m-1 btn-outline-danger">Cancelar</a>
      <button type="submit" class="btn m-1 btn-outline-success">Actualizar</button>
    </div>
  </form>
{% endblock %}
