{% extends 'base.html' %}

{% block title %}
  Empleados
{% endblock %}

{% block body %}
  <table class="table border">
    <thead class="table-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item h2" aria-current="page">
          <a class="text-decoration-none" href="{% url 'employee:list' %}">Empleados</a>
        </li>
        <li class="breadcrumb-item h2 active" aria-current="page">{{ employee.first_name }} {{ employee.middle_name }} {{ employee.first_last_name }} {{ employee.middle_last_name }}</li>
      </ol>
    </thead>
    <tbody>
      <tr>
        <td style="width: 10%">
          <b>CI</b>
        </td>
        <td>{{ employee.ci }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Email</b>
        </td>
        <td>{{ employee.email }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Usuario</b>
        </td>
        <td>{{ employee.user }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Contratos</b>
        </td>
        <td>
          <div class="list-group">
            {% if employee.contracts_set.all %}
              {% for contract in employee.contracts_set.all %}
                <a href="{% url 'contract:detail' contract.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ contract.pk }}</h5>
                    <small>{{ contract.date }} - {{ contract.duration }}d</small>
                  </div>
                  <p class="mb-1">{{ contract.description }}</p>
                  <small>USD {{ contract.budget }}</small>
                </a>
              {% endfor %}
            {% else %}
              -
            {% endif %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <a href="{% url 'employee:list' %}" class="btn m-1 btn-outline-secondary">Volver</a>
    <a href="{% url 'employee:update' employee.pk %}" class="btn m-1 btn-outline-primary">Editar</a>
    <a href="{% url 'employee:delete' employee.pk %}" class="btn m-1 btn-outline-danger">Eliminar</a>
  </div>
{% endblock %}
