{% extends 'departments_base.html' %}

{% block title %}
  Departments - Detail
{% endblock %}

{% block body %}
  <table>
    <thead>
      <h1>Department - {{ object.name }}</h1>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>Director</b>
        </td>
        <td>{{ object.director }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'departments:list' %}"><button>Back</button></a>
  <a href="{% url 'departments:update' object.pk %}"><button>Update</button></a>
{% endblock %}
