{% extends 'procedures_types_base.html' %}

{% block title %}
    Procedures Types - Detail
{% endblock title %}

{% block body %}
    <table>
        <thead>
            <h1>Detail - {{ object.name }}</h1>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Regime</b>
                </td>
                <td>{{ object.regime }}</td>
            </tr>
            <tr>
                <td>
                    <b>Product Type</b>
                </td>
                <td>{{ object.product_type }}</td>
            </tr>
            <tr>
                <td>
                    <b>Purchase Type</b>
                </td>
                <td>{{ object.purchase_type }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'procedures_types:list' %}"><button>Back</button></a>
    <a href="{% url 'procedures_types:update' object.pk %}"><button>Update</button></a>
    <a href="{% url 'procedures_types:delete' object.pk %}"><button>Delete</button></a>
{% endblock body %}
    