{% extends 'procedures_types_base.html' %}

{% block title %}
    Procedures Types - Detail
{% endblock title %}

{% block body %}
    <table class="table">
        <thead class="table-light">
            <h1>Detail - {{ object.name }}</h1>
        </thead>
        <tbody>
            <tr>
                <td style="width: 10%">
                    <b>Regime</b>
                </td>
                <td>{{ object.regime }}</td>
            </tr>
            <tr>
                <td style="width: 10%">
                    <b>Product Type</b>
                </td>
                <td>{{ object.product_type }}</td>
            </tr>
            <tr>
                <td style="width: 10%">
                    <b>Purchase Type</b>
                </td>
                <td>{{ object.purchase_type }}</td>
            </tr>
            <tr>
                <td style="width: 10%">
                  <b>Certifications</b>
                </td>
                <td>
                  <div class="list-group">
                    {% for certification  in object.certifications_set.all %}
                      <a href="{% url 'certifications:detail' certification.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Certification No. {{ certification.number }} - {{ certification.department }}</h5>
                          <small>{{ certification.date }}</small>
                        </div>
                        <p class="mb-1">{{ certification.description }}</p>
                        <small>USD {{ certification.budget }}</small>
                      </a>
                    {% endfor %}
                  </div>
                </td>
              </tr>
        </tbody>
    </table>
    <a href="{% url 'procedures_types:list' %}"><button class="btn btn-outline-primary">Back</button></a>
    <a href="{% url 'procedures_types:update' object.pk %}"><button class="btn btn-outline-success">Update</button></a>
    <a href="{% url 'procedures_types:delete' object.pk %}"><button class="btn btn-outline-danger">Delete</button></a>
{% endblock body %}
    