<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
  </head>
  <body>
    <nav>
      <ul>        
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'budget_items' %}">Partidas Presupuestarias</a></li>
        <li><a href="{% url 'certifications' %}">Certificaciones</a></li>
        <li><a href="{% url 'departments' %}">Departamentos</a></li>
        <li><a href="{% url 'procedures_types' %}">Tipos de Procedimientos</a>
      </ul>
    </nav>
    {% block content %}

    {% endblock %}
  </body>
</html>
