{% extends 'base.html' %}

{% block content %}
  {% if budget_items_list %}
    <h1>Budget Items</h1>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>CPC</th>
          <th>Description</th>
          <th>Budget</th>
          <th>Budget Type</th>
        </tr>
      </thead>
      <tbody>
        {% for budget_item in budget_items_list %}
          <tr>
            <td>{{ budget_item.number }}</td>
            <td>{{ budget_item.cpc }}</td>
            <td>{{ budget_item.description }}</td>
            <td>{{ budget_item.budget }}</td>
            <td>{{ budget_item.budget_type }}</td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no registered budget items</p>
  {% endif %}
{% endblock %}
