{% extends 'budget_items_base.html' %}

{% block title %}
  Budget Items - Detail
{% endblock %}

{% block body %}
  <table>
    <thead>
      <tr>
        <h1>Budget Item No. {{ object.number }}</h1>
        <p>Last modification: {{ object.date }}</p>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>
        <b>Description</b>
      </td>
      <td>{{ object.description }}</td>
    </tr>
    <tr>
      <td>
        <b>CPC</b>
      </td>
      <td>{{ object.cpc }}</td>
    </tr>
    <tr>
      <td>
        <b>Budget</b>
      </td>
      <td>{{ object.budget }}</td>
    </tr>
    <tr>
      <td>
        <b>Budget Type</b>
      </td>
      <td>{{ object.budget_type }}</td>
    </tr>
    <tr>
      <td>
        <b>BID</b>
      </td>
      <td>{{ object.bid }}</td>
    </tr>
  </tbody>
</table>
  <a href="{% url 'budget_items:list' %}"><button>Back</button></a>
  <a href="{% url 'budget_items:update' object.pk %}"><button>Update</button></a>
{% endblock %}
