{% extends 'budget_items_base.html' %}

{% block title %}
  Budget Items - List
{% endblock %}

{% block body %}
  {% if object_list %}
    {% csrf_token %}
    <h1>Budget Items</h1>
    <form method = "GET">
      <input type = "text" name = "q" placeholder = "Search by number or CPC">
      <button type = "submit">Search</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>CPC</th>
          <th>Description</th>
          <th>Budget</th>
          <th>‎</th>
          <th>‎</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.number }}</td>
            <td>{{ object.cpc }}</td>
            <td>{{ object.description }}</td>
            <td>{{ object.budget }}</td>
            <td>
              <a href = "{% url 'budget_items:detail' object.pk %}"><button>View</button></a>
            </td>
            <td>
              <a href = "{% url 'budget_items:delete' object.pk %}"><button>Delete</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <p><b>Total: </b>{{ total_budget }}</p>
  {% else %}
    <p>There are no registered budget items</p>
  {% endif %}
  <a href = "{% url 'budget_items:create' %}"><button>Create</button></a>
{% endblock %}
