{% extends 'base.html' %}

{% block content %}
  {% if certifications_list %}
    <h1>Certifications</h1>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Description</th>
          <th>Departament</th>
          <th>Procedure</th>
          <th>Budget Item</th>
          <th>Budget</th>
        </tr>
      </thead>
      <tbody>
        {% for certification in certifications_list %}
          <tr>
            <td>{{ certification.number }}</td>
            <td>{{ certification.description }}</td>
            <td>{{ certification.department }}</td>
            <td>{{ certification.procedure }}</td>
            <td>{{ certification.budget_item }}</td>
            <td>{{ certification.budget }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no registered certifications</p>
  {% endif %}
{% endblock %}