{% extends 'base.html' %}

{% block content %}
  {% if certifications_list %}
    <h1>Certificaciones</h1>
    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Descripción</th>
          <th>Departamento</th>
          <th>Procedimiento</th>
          <th>Partida Presupuestaria</th>
          <th>Presupuesto</th>
        </tr>
      </thead>
      <tbody>
        {% for certification in certifications_list %}
          <tr>
            <td>{{ certification.number }}</td>
            <td>{{ certification.description }}</td>
            <td>{{ certification.department }}</td>
            <td>{{ certification.procedure }}</td>
            <td>{{ certification.budget_item }}</td>
            <td>{{ certification.budget }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay certificaciones registradas</p>
  {% endif %}
{% endblock %}