{% extends 'base.html' %}

{% block content %}
  {% if departments_list %}
    <h1>Departamentos</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Titular</th>
        </tr>
      </thead>
      <tbody>
        {% for department in departments_list %}
          <tr>
            <td>{{ department.name }}</td>
            <td>{{ department.director }}</td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay departamentos registrados</p>
  {% endif %}
{% endblock %}