{% extends 'base.html' %}

{% block content %}
  {% if departments_list %}
    <h1>Departaments</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Director</th>
        </tr>
      </thead>
      <tbody>
        {% for department in departments_list %}
          <tr>
            <td><a href = "{% url 'detail_department' department.pk %}">{{ department.name }}</a></td>
            <td>{{ department.director }}</td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no registered departments</p>
  {% endif %}
  <a href = "{% url 'create_department' %}">New</a>
{% endblock %}