{% extends 'base.html' %}

{% block title %}
  Budget Items - Detail
{% endblock %}

{% block body %}
  <h1>Detail - {{ object.number }}</h1>
  <p>ID: {{ object.id }}</p>
  <p>Description: {{ object.description }}</p>
  <p>CPC: {{ object.cpc }}</p>
  <p>Modification Date: {{ object.date }}</p>
  <p>Budget: {{ object.budget }}</p>
  <p>Budget Type: {{ object.budget_type }}</p>
  <p>BID: {{ object.bid }}</p>
  <a href="{% url 'budget_items:list' %}">Back</a>
  <a href="{% url 'budget_items:update' object.pk %}">Update</a>
{% endblock %}
