{% extends 'base.html' %}

{% block content %}
  {% if procedures_types_list %}
    <h1>Procedures Types</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Regime</th>
          <th>Product Type</th>
          <th>Purchase Type</th>
        </tr>
      </thead>
      <tbody>
        {% for procedure_type in procedures_types_list %}
          <tr>
            <td>{{ procedure_type.name }}</td>
            <td>{{ procedure_type.regime }}</td>
            <td>{{ procedure_type.product_type }}</td>
            <td>{{ procedure_type.purchase_type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no registered procedures</p>
  {% endif %}
{% endblock %}