{% extends 'base.html' %}

{% block title %}
  Certificaciones
{% endblock %}

{% block body %}
  <table class="table border">
    <caption>
      <b>Última Modificación:</b> {{ object.date }}
    </caption>
    <thead class="table-light">
      <tr>
        <ol class="breadcrumb">
          <li class="breadcrumb-item h2" aria-current="page">
            <a class="text-decoration-none" href="{% url 'certifications:list' %}">Certificaciones</a>
          </li>
          <li class="breadcrumb-item h2 active" aria-current="page">{{ object.number }}</li>
        </ol>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 10%">
          <b>Partida Presupuestaria</b>
        </td>
        <td>
          <a href="{% url 'budget_items:detail' object.budget_item.pk %}" class="text-decoration-none">{{ object.budget_item }}</a>
        </td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>CPC</b>
        </td>
        <td>{{ object.budget_item.cpc }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Tipo de Compra</b>
        </td>
        <td>{{ object.procedure.purchase_type }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Régimen</b>
        </td>
        <td>{{ object.procedure.regime }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>BID</b>
        </td>
        <td>{{ object.budget_item.bid }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Tipo de Presupuesto</b>
        </td>
        <td>{{ object.budget_item.budget_type }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Tipo de Producto</b>
        </td>
        <td>{{ object.procedure.product_type }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Procedimiento</b>
        </td>
        <td>{{ object.procedure }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Descripción</b>
        </td>
        <td>{{ object.description }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Actividad</b>
        </td>
        <td>{{ object.budget_item.activity }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Presupuesto</b>
        </td>
        <td>USD {{ object.budget }}</td>
      </tr>
      <tr>
        <td style="width: 10%">
          <b>Periodo</b>
        </td>
        <td>C{{ object.period }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <a href="{% url 'certifications:list' %}" class="btn m-1 btn-outline-secondary">Volver</a>
    <a href="{% url 'certifications:update' object.pk %}" class="btn m-1 btn-outline-primary">Editar</a>
    <a href="{% url 'certifications:delete' object.pk %}" class="btn m-1 btn-outline-danger">Eliminar</a>
  </div>
{% endblock %}
