{% extends 'base.html' %}

{% block title %}
  Certificaciones
{% endblock %}

{% block form %}
  <form action="{% url 'certifications:list' %}" class="d-flex" role="search">
    <input name="q" class="form-control me-2" type="search" placeholder="Buscar Certificación" />
    <button class="btn btn-primary" type="submit">Buscar</button>
  </form>
{% endblock %}

{% block body %}
  {% if object_list %}
    {% csrf_token %}
    <h1>Certificaciones</h1>
    <div class="table-responsive-xxl border">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>Número</th>
            <th>Partida Presupuestaria</th>
            <th>Descripción</th>
            <th>Actividad</th>
            <th>Presupuesto</th>
            <th>‎</th>
            <th>‎</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.number }}</td>
              <td>
                <a href="{% url 'budget_items:detail' object.budget_item.pk %}" class="text-decoration-none">{{ object.budget_item }}</a>
              </td>
              <td>{{ object.description }}</td>
              <td>{{ object.budget_item.activity }}</td>
              <td>USD {{ object.budget }}</td>
              <td>
                <a href="{% url 'certifications:detail' object.pk %}" class="btn btn-outline-success w-100">View</a>
              </td>
              <td>
                <a href="{% url 'certifications:delete' object.pk %}" class="btn btn-outline-danger w-100">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5" class="text-end"></th>
            <th colspan="2">
              <a href="{% url 'certifications:create' %}" class="btn btn-outline-primary w-100">Create</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      No se han registrado certificaciones todavía, intente creando <a href="{% url 'certifications:create' %}">aquí</a>
    </div>    
  {% endif %}
{% endblock %}
